html, body, #map {
    width: 100%; 
    height: 100%; 
    padding: 0; 
    margin: 0;
    font-family: "FiraMedium";
    position: relative;
}
@font-face {
  font-family: "FiraMedium";
  src: url("Medium.ttf");
}
@font-face {
  font-family: "FiraLight";
  src: url("Light.ttf");
}
#container {
	border-radius: 10px;
	width: 330px;
	background-color: #ffffff; 
	z-index: 1000;
	top: 30px;
	left: 50px;
	display: none;
	position: absolute;
}
#header {
	background-color: #ff8663;
	color: #ffffff;
	font-size: 14px;
	padding: 9px;
}
#header span {
	display: inline-block;
    margin: 7px 0 0 5px;
    width: 85%;
}
#header img {
	margin-top: 2px;
	width: 9px;
}
#header input {
	float: right;
	margin-top: 7px;
	border: 10px 0;
}
.otziv {
	padding: 12px;
	font-size: 14px;
	color: #4f4f4f;
}
.name {
	color: #4f4f4f;
	font-weight: 600;
}
.place {
	margin-left: 10px;
}
.otziv p{
	margin: 5px 0;
}
.add {
    padding: 11px;
}
#form {
    border-top: 1px solid #f0f0f0;
    font-family: "FiraLight";
}
#form h2{
    color: #ff8663;
    text-transform: uppercase;
    font-size: 17px;
}
#form input:focus{
  outline:none;
}
#form input {
  height: 30px;
}
#form input, textarea {
  width: 96%;
  border-radius: 15px;
  border: 1px solid #c4c4c4;
  outline: none;
  margin-bottom: 10px;
  padding-left: 10px;
  font-family: "FiraLight";
}
#form button {
	background-color: #ff8663;
	color: #ffffff;
	border-radius: 10px;
	outline:none;
	padding: 8px 15px;
	border: none;
	float: right;
	margin-bottom: 10px;
}
.clear {
	clear: none;
}